@import '../vars.css';

/* MAIN CONTAINER */

.playerContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  background-color: var(--base-100);
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.1);
}

/* IMAGE */

.imgContainer {
  grid-column: 1 / 4;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.img {
  max-width: 100%;
  border-radius: 0.25rem;
}

/* DETAILS */

.detailsContainer {
  margin-bottom: 1rem;
}

.title {
  font-family: var(--font-heading);
  margin-bottom: 0.25rem;
}

.artist {
  color: var(--primary)
}

/* PROGRESS BAR */

.progressContainer {
  margin-bottom: 1rem;
}

.progressBar {
  width: 100%;
  height: 0.4rem;
  background-color: var(--base-300);
  border: none;
  border-radius: 5px;
  margin-bottom: 0.75rem;
  position: relative;
  outline: none;
  appearance: none;
}

.progressBar::-moz-range-track {
  width: 100%;
  height: 0.4rem;
  background-color: var(--base-300);
  border: none;
  border-radius: 5px;
  margin-bottom: 0.75rem;
  position: relative;
  outline: none;
  appearance: none;
}

/* PROGRESS BAR - PROGRESS COLOR */

.progressBar::before {
  content: '';
  width: 50%;
  height: 0.4rem;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  background-color: var(--primary);
  z-index: 10;
}

.progressBar::-moz-range-progress {
  border: none;
  border-radius: 5px;
  background-color: var(--primary);
  height: 0.4rem;
}

/* PROGRESS BAR - THUMB CONTROL */

.progressBar::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.progressBar::-moz-range-thumb {
  appearance: none;
  border: none;
  background: transparent;
}

/* ELAPSED TIME & TOTAL DURATION */

.timeContainer {
  display: flex;
  justify-content: space-between;
  font-size: 0.75rem;
  color: var(--base-900)
}

/* PLAYBACK CONTROLS */

.controlsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  padding: 0.5rem;
  margin: 0 auto 1.5rem auto;
  font-size: 1.5rem;
  color: var(--base-900)
}

.playPause {
  font-size: 1.75rem;
}

/* VOLUME CONTROLS */

.volumeContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto 2rem auto;
}

.volumeSlider {
  appearance: none;
  width: 100%;
  height: 0.4rem;
  border: none;
  border-radius: 5px;
  background-color: var(--base-300);
  margin-left: 0.5rem;
  position: relative;
}

.volumeSlider::before {
  content: '';
  width: 50%;
  height: 0.4rem;
  border: none;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--primary);
  z-index: 10;
}

.volumeSlider::-moz-range-progress {
  height: 0.4rem;
  background-color: var(--primary);
  border: none;
  border-radius: 5px;
}

.volumeSlider::-webkit-slider-thumb {
  appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: var(--primary);
  position: relative;
  top: -1px;
  cursor: pointer;
}

.volumeSlider::-moz-range-thumb {
  appearance: none;
  height: 15px;
  width: 15px;
  border: none;
  border-radius: 50%;
  background-color: var(--primary);
  position: relative;
  top: -1px;
  cursor: pointer;
}