:root {
  --font-heading: 'Barlow', 'Trebuchet MS', Tahoma, sans-serif;
  --font-main: 'Albert Sans', Arial, sans-serif;
  --font-size: 16px;
  --white: #f7f7f7;
  --base-100: #f0f0f0;
  --base-300: #727273;
  --base-500: #404040;
  --base-700: #262626;
  --base-900: #262626;
  --primary: #10ABB4;
  --secondary: #F58D0E;
}